[package]
name = "wheel"
version = "0.1.0"
edition = "2024"

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
lto = "fat"
strip = "symbols"

[dependencies]
bevy = "0.17.3"
rand = "0.9.2"
